@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Graduate|Karla|Open+Sans+Condensed:300|Raleway');

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 55px;
}
.btns {
  border: 2px solid #E2E3EB;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  width: 250px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.large-text {
  height: 300px;
}

.recipe-name {
  font-family: 'Open Sans Condensed', Roboto, Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.recipe-desc {
  font-family: 'Open Sans Condensed', Roboto, Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.recipe-cat {
  font-family: 'Open Sans Condensed', Roboto, Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.recipe-ingredients {
  font-family: 'Open Sans Condensed', Roboto, Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.recipe-instructions {
  font-family: 'Open Sans Condensed', Roboto, Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.button-font {
  font-family: 'Karla', Roboto, Arial, Helvetica, sans-serif;
}

.text-muted {
  font-family: 'Raleway';
  font-family: 5px;
}