@import url('https://fonts.googleapis.com/css?family=Graduate|Dosis|Philosopher|Open+Sans+Condensed:300');
html {
  position: relative;
  min-height: 100%;
  background-color: whitesmoke;
}

body {
  background: whitesmoke !important;
  margin-bottom: 120px !important;
}

.navbar {
  background-color: cadetblue !important;
}

.logout {
  border-radius: 5px;
  color: white !important;
  font-family: 'Dosis';
  background-color: brown;
  font-size: 20px;
}

.detail-title {
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  margin-left: 40px;
}

.under-carousel-div {
  background-color: whitesmoke;
}

.review-text {
  height: 200px;
  float: left;
}

.no-recipes-p {
  text-align: center !important;
  margin-left: 350px;
  padding-top: 30px;
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
}

.profile-h1 {
  text-align: center;
  margin-top: 40px;
}

.custom-link {
  color: white !important;
  font-family: 'Dosis';
  font-size: 20px;
}

.dashboard-h2 {
  padding-top: 25px;
  font-family: 'Philosopher', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 1px;
  text-align: center;
}

.homepage-h2 {
  padding-top: 25px;
  text-align: center;
  font-family: 'Philosopher', Arial, Helvetica, sans-serif;
}

.dashboard-h4 {
  font-family: 'Philosopher', Arial, Helvetica, sans-serif;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}

.title-h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Open Sans Condensed';
}

.border {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  color: brown;
}

.border :hover {
  text-decoration: none;
  color: cadetblue;
}

.title-h3 {
  font-family: 'Philosopher';
}

.title-h3-comment {
  font-family: 'Philosopher';
  margin-top: 35px;
}

h4 {
  font-family: 'Philosopher';
  font-size: 25px;
  font-weight: bold;
}

.sizing {
  width: 2000;
  height: 800;
}

.carousel-h3 {
  font-family: 'Philosopher';
  color: beige;
  font-size: 4rem;
  padding-bottom: 100px;
  text-shadow: 1px 1px #131212;
}

.carousel-h3-light {
  font-family: 'Philosopher';
  color: #e9e9f0;
  font-size: 2rem;
  text-shadow: 1px 1px #131212;
}

.carousel-p-light {
  font-family: 'Dosis';
  color: #e9e9f0;
  font-size: 1.5em;
  font-weight: bold;
}

.carousel-p {
  font-family: 'Dosis';
  color: #19191a;
  font-size: 1.5em;
  font-weight: bold;
}

.recipe-search {
  margin-top: 20px;
}

.navbar-brand {
  font-family: 'Philosopher';
}

.form-style {
  margin-right: 250px;
  margin-left: 250px;
  background: white;
  border-radius: 5px;
  margin-top: 10px;
}

.signup-body {
  background: url('../img/dessert.jpeg') center center no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.card-form {
  margin-left: 280px;
  margin-right: 300px;
  margin-top: 120px !important;
  background: #f3f2f7;
}

.sign-up-h3 {
  font-family: 'Philosopher';
  color: black;
}

#signup-section {
  margin-top: 5px;
}

.signup-footer {
  padding-top: 120px;
  text-align: center;
}

.signin-footer {
  padding-top: 200px;
  text-align: center;
}

.form-check {
  text-align: left;
}

#descriptionTextArea {
  height: 310px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 55px;
}

.btns {
  border: 2px solid #e2e3eb;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  width: 250px;
}

.btn-add {
  margin-left: 30px;
  margin-top: 90px;
  width: 250px;
}

.btn-edit {
  margin-left: 30px;
  margin-top: 90px;
  width: 100px;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.img_detail {
  width: 450px;
  height: 450px;
  margin-bottom: 30px;
}

.instruction-padd {
  padding-left: 70px;
  padding-bottom: 40px;
}

.recipe-padd {
  padding-left: 70px;
  padding-bottom: 40px;
}

.card {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-title {
  font-family: 'Philosopher', Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
}

.card-text {
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.group-btn {
  text-align: center;
}

.small-text {
  font-family: 'Dosis', cursive !important;
  font-size: 20px !important;
  color: rebeccapurple !important;
}

.text-muted {
  font-family: 'Dosis' !important;
  font-size: 15px;
  color: white !important;
}

.card-footer {
  background-color: cadetblue;
}

.card-body {
  border-radius: 15px;
  background: ghostwhite;
  color: black;
}

.my-btn {
  color: white;
  font-family: 'Dosis' !important;
  background-color: brown;
  border-color: white;
  border-radius: 10px !important;
}

.action-btn {
  text-align: center !important;
}

.move-right {
  margin-right: 10px;
}

.my-btn:hover {
  color: white !important;
  font-family: 'Dosis' !important;
  background-color: brown !important;
  cursor: pointer;
}

.add-h1 {
  text-align: center;
  padding-top: 30px;
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 70px;
}

.profile-random {
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Open Sans Condensed';
  letter-spacing: 1px;
}

.profile-title {
  color: grey;
  font-size: 20px;
  font-family: cursive;
}

.profile-email {
  font-family: 'Open Sans Condensed';
  font-size: 25px;
  margin-top: 20px;
}

.prop-username {
  font-family: 'Open Sans Condensed';
  letter-spacing: 1px;
  font-size: 20px;
}

.prop-email {
  padding-bottom: 40px;
  font-family: 'Open Sans Condensed';
  letter-spacing: 1px;
  font-size: 20px;
}

.profile-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile-image {
  width: 100%;
}

.profile-button:hover,
a:hover {
  opacity: 0.7;
}

.image-name {
  text-align: center;
}

.ingredients-div {
  text-align: center;
}

.form-container {
  text-align: center;
}

.form-button {
  margin-top: 10px;
  background-color: brown;
}

.form-button:hover {
  background-color: brown;
}

.form-button:active {
  background-color: brown;
}

.form-h6 {
  color: brown;
  font-family: 'Philosopher', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.review-form {
  height: 200px;
}

.brown-thumb {
  color: brown;
}

.brown-thumb:hover {
  color: brown;
}

.my-heart {
  margin-left: 20px;
  color: brown;
}

.indie-key {
  padding-right: 80%;
}

.center-emoji {
  text-align: center;
  font-family: 'Dosis';
  /* padding-bottom: 30px; */
}

.section-bck {
  background: url('../img/tobias-cornille-142864.jpg');
  height: 100%;
  padding-bottom: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-section {
  position: absolute;
  top: 50%;
  left: 30%;
  font-family: 'Dosis';
  font-size: 150%;
}

.paginate {
  padding-top: 20px;
}

.pagination-ul {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: cadetblue;
  text-align: center;
}

.custom-pagination {
  justify-content: center;
  padding-top: 15px;
}

.page-item.active .page-link {
  z-index: 2;
  color: black;
  background-color: cadetblue;
  border-color: white;
}

.custom-div {
  background: white;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.review-back {
  background: ghostwhite;
  margin: 50px;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  border-radius: 15px;
  overflow-y: scroll;
  max-height: 700px;
}

.reviewer-name {
  font-family: Dosis;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.review-content {
  font-family: Philosopher;
  font-size: 20px;
  color: gray;
}

.carousel-slide-image {
  height: 700px;
}

.carousel-inner {
  height: 650px;
  width: 1500px;
}

.user-btn {
  background: none;
}

.user-btn-special {
  cursor: not-allowed;
}

.crimson {
  color: crimson;
}

.brown {
  color: brown;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-class {
  background: cadetblue;
  color: white;
  padding: 40px;
  border-radius: 10px;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

.modal-ptag {
  align-content: center;
}

.submit-btn {
  background: cadetblue;
  color: white;
}

.account {
  color: brown;
}

.account:hover {
  text-decoration: none;
  color: cadetblue;
}

.has-errors {
  border-color: red !important;
  color: red;
}

.signin-pad{
  padding-top: 20px;
}

.modal-btn-red {
  background: red;
}

.modal-btn-white {
  background: white;
  margin-left: 10px;
}

.inline-p {
  display: inline;
}

.review-time {
  margin-left: 15px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.review-box {
  margin-top: 10px;
}

.dropzone {
  border: 3px dashed;
  width: 300px;
  height: 300px;
  margin: 0px auto;
  padding: 5px;
  border-color: brown;
}

.dropzone-tag {
  margin-top: 100px;
  margin-bottom: 1rem;
  margin-left: 50px;
}

.fluid-image{
  max-width: 100%;
  height: 280px;
}

.card-img-top {
  max-height: 200px;
}
